name: Sync files to S3

on:
  push:
    branches:
      - sandbox
      - staging
      - preprod
      - main

jobs:
  upload-to-s3:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Determine S3 bucket and CloudFront distribution
        id: s3
        run: |
          case "${GITHUB_REF_NAME}" in
            sandbox)
              echo "bucket=dev-microweb.wisdomwearai.com" >> $GITHUB_OUTPUT
              echo "cf_dist=d2n7ykleunim90" >> $GITHUB_OUTPUT
              ;;
            staging)
              echo "bucket=stg-microweb.wisdomwearai.com" >> $GITHUB_OUTPUT
              echo "cf_dist=d1niylwzd1meck" >> $GITHUB_OUTPUT
              ;;
            preprod)
              echo "bucket=preprod-microweb.wisdomwearai.com" >> $GITHUB_OUTPUT
              echo "cf_dist=d1m6wu67dpk7ij" >> $GITHUB_OUTPUT
              ;;
            main)
              echo "bucket=microweb.wisdomwearai.com" >> $GITHUB_OUTPUT
              echo "cf_dist=d31a5t918c7duo" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "Unknown branch: ${GITHUB_REF_NAME}"
              exit 1
              ;;
          esac

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://${{ steps.s3.outputs.bucket }} \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ steps.s3.outputs.cf_dist }} \
            --paths "/*"
